* {
  box-sizing: border-box;
}

body {
  font-family: 'Minecraft';
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  color: white;
  cursor: pointer;
}

.btn img {
  width: 250px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 60%;
  transition-duration: 0.5s;
}

.logo img {
  width: 100%;
  margin: 15px auto;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.hero {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../img/background.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#info {
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
}

.an-t {
  display: inline-block;
  font-size: 0.95em;
  line-height: 1.5em;
  padding: 15px;
  margin: 15px;
  max-width: 840px;
}

.test {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.test2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5%;
}

.test4 {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-image: url("../img/bg-wool-dark.png");
  background-size: cover;
  background-attachment: fixed;
}

.test2 img {
  width: 200px;
  margin: 30px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.test3 {
  display: block;
  font-size: 2rem;
  word-wrap: break-word;
}

.test5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.test8 {
  position: relative;
}

.test6 {
  position: absolute;
}

.test10 {
}

.test7 {
  position: absolute;
  transform: translate(-50%, calc(-100% - 30px));
}

.test14 {
  position: relative;
}

.test15 {
  position: absolute;
  top: 0;
  right: 0;
}

.test16 {
  transform: scale(1.15);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

.demo a {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section05 a {
  padding-top: 70px;
}

#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
